<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSMicrophoneUsageDescription</key>
	<string>OutDate will use your microphone to pick up your answers in voice challenges</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>OutDare uses Speech Recognition to make challenges more interactive. Without it, you won&apos;t be able to participate in all challenges.</string>
	<key>UIAppFonts</key>
	<array>
		<string>JetBrainsMono-Medium.ttf</string>
		<string>JetBrainsMono-Bold.ttf</string>
		<string>JetBrainsMono-Regular.ttf</string>
		<string>JetBrainsMono-ExtraBold.ttf</string>
	</array>
</dict>
</plist>
